<% content_for :title do %>social<% end %>
<% content_for :content do %>
  <h2>welcome <%= current_user.username if current_user %></h2>
  <% unless current_user.nil? || current_user.twitter_account.nil? %>  
    <ul>
      <% @response.each do |r| %>
        <li><strong><%= r["user"]["screen_name"] %></strong> <%= r["text"] %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
