<% content_for :title do %>social<% end %>
<% content_for :content do %>
  <h2>welcome <%= current_user.username if current_user %></h2>
  <% unless current_user.nil? || current_user.twitter_account.nil? %>  
    <h3>your twitter feed</h3>
    <ul>
      <% @tweets.each do |t| %>
        <li><strong><%= t.username %></strong> <%= t.content %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
