<% content_for :title do %>your facebook feed<% end %>

<% content_for :content do %>
  <%= render :partial => "shared/services" %>
  <ul id="messages">
    <% @statuses.each do |s| %>
      <li><%= display_status(s) %></li>
    <% end %>
  </ul>
<% end %>
