<% content_for :title do %>connections<% end %>

<% content_for :content do %>
  <h3>add your accounts here</h3>
  <ul id="connections">
    <%= connect_twitter(current_user) %>
    <%= connect_facebook(current_user) %>
    <%= connect_digg(current_user) %>
  </ul>
<% end %>
