@charset "utf-8";
/* CSS Document */

/*******************************************************************************************/
/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
/*******************************************************************************************/
/*******************************************************************************************/
html, body {
  background-color: #e7e7e7;
  color: #333;
  font-family: "Helvetica Neue", helvetica, sans-serif;
  height: 100%;
}

a, a:visited, a:active, a:hover { color: #000; text-decoration: none; }
a:hover { text-decoration: underline; }
h1 { font-size: 56px; font-weight: normal; }
h2 { font-size: 36px; font-weight: normal; }
h3 { font-size: 24px; font-weight: normal; }
h4 { font-size: 18px; font-weight: normal; }

li {
  padding: 15px;
}

p {
  margin: 25px 0;
  padding: 0 25px;
}

.errorExplanation {
  background-color: #fcdfff;
  border: 1px solid #800517;
}

.errorExplanation h2 {
  font-size: 24px;
  color: #e41b17;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.message-left {
  float: left;
  width: 48px;
}

#connections .message-left {
  width: 32px;
  height: 32px;
}

.message-right {
  float: right;
  width: 455px;
  padding-left: 15px;
}

.author {
  font-size: 12px;
  font-weight: bold;
}

a.timestamp, a.timestamp:visited {
  font-weight: normal;
  color: #999;
}

.message {
  font-size: 16px;
  line-height: 24px;
  padding-top: 5px;
}

#container {
  width: 740px;
  margin: 0 auto;
  padding: 0 30px;
  background: #fff url("/images/shadow.png") repeat-y;
}

#user-nav {
  float: right;
  font-size: 12px;
}

#header {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 15px;
  background-color: #fff;
  padding: 15px;
}

#header a {
  color: #333;
  text-decoration: none;
}

#title {
  text-align: center;
}

#flash {
  background-color: #71b140;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #1b7c2d;
}

#content {
  height: 100%;
  background-color: #fff;
  min-height: 400px;
}

#content ul {
  width: 548px;
  margin: 0 auto;
}

#content h3 {
  padding: 25px;
}

#tweets li, #connections li {
  border-bottom: 1px solid #fff;
}

#tweets li:hover, #connections li:hover {
  border-bottom: 1px solid #e7e7e7;
}

#description {
  margin: 50px 0;
}

#splash {
  padding-top: 25px;
  text-align: center;
  height: 375px;
  font-size: 24px;
}

#splash p {
  line-height: 36px;
}

#splash img {
  margin: 0 15px;
}

#buttons a {
  width: 250px;
  height: 40px;
  padding: 30px 0;
  display: inline-block;
  background: transparent url("/images/button.png") no-repeat;
  color: #e7e7e7;
  font-size: 36px;
  text-decoration: none;
}

#buttons a:hover {
  background: transparent url("/images/button-hover.png") no-repeat;
  color: #fff;
}

#button-signup {
  margin-right: 25px;
}

#button-login {
  margin-left: 25px;
}

#footer {
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
  padding: 15px 0px;
  text-align: center;
  font-size: 12px;
}

#layout-top {
  width: 800px;
  height: 30px;
  margin: 0 auto;
  background: transparent url("/images/layout-top.png") no-repeat;
}

#layout-bottom {
  width: 800px;
  height: 30px;
  margin: 0 auto;
  background: transparent url("/images/layout-bottom.png") no-repeat;
}

/* /connect css */
.connected { color: #008000; }
