@charset "utf-8";
/* CSS Document */

/*******************************************************************************************/
/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
/*******************************************************************************************/
/*******************************************************************************************/
html, body {
  background-color: #fff;
  color: #333;
  font-family: "Helvetica Neue", helvetica, sans-serif;
  height: 100%;
}

a, a:visited, a:active, a:hover { color: #000; text-decoration: none; }
a:hover { text-decoration: underline; }
h1 { font-size: 56px; font-weight: normal; }
h2 { font-size: 36px; font-weight: normal; }
h3 { font-size: 24px; font-weight: normal; }
h4 { font-size: 18px; font-weight: normal; }

li {
  padding: 15px;
}

li:hover {
  background-color: #efffff;
}

.errorExplanation {
  background-color: #fcdfff;
  border: 1px solid #800517;
}

.errorExplanation h2 {
  font-size: 24px;
  color: #e41b17;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.message-left {
  float: left;
  width: 48px;
}

.message-right {
  float: right;
  width: 455px;
  padding-left: 15px;
}

.author {
  font-size: 12px;
  font-weight: bold;
}

a.timestamp {
  font-weight: normal;
  color: #999;
}

.message {
  font-size: 16px;
  line-height: 24px;
  padding-top: 5px;
}

#container {
  width: 800px;
  margin: 0 auto;
  /*background-color: #eee;*/
}

#user-nav {
  float: right;
}

#header {
  /*background-color: #ddd;*/
}

#flash {
  background-color: #6ff888;
  color: #1b7c2d;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #1b7c2d;
}

#content {
  height: 100%;
}

#content h2, #content h3 {
  text-align: center;
}

#content ul {
  width: 548px;
  margin: 0 auto;
}

#overlay {
  background: #000 url("/images/overlay.png") repeat-x;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 50px;
}
