<% content_for :title do %>your digg feed<% end %>

<% content_for :content do %>
  <%= render :partial => "shared/services" %>
  <ul id="messages">
    <% @stories.each do |s| %>
      <li><%= display_story(s) %></li>
    <% end %>
  </ul>
<% end %>
